# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# java
*.class
*.ear
*.jar
*.war

# pytest
__pycache__
.pytest_cache

# maven
build/
config/
target/

# eclipse
.metadata/
.settings/

# JetBrains
.idea/
*.iml
